<section id="portfolio" class="grid-container">

	<section class="widget bundle goalsummary">
		<h2 class="sectionheader">Task Status</h2>
		<div id="goalsummary"></div>
	</section>

	<section class="widget feestable">
		<h2 class="sectionheader">Browser Marketshare</h2>
		<div id="feestable"></div>
	</section>

	<section class="widget holdingstable">
		<h2 class="sectionheader">Datagrid</h2>
		<div id="leaders"></div>
	</section>

	<section class="widget holdingstable">
		<h2 class="sectionheader">Datagrid 2</h2>
		<div id="laggers"></div>
	</section>

</section>