/* flexbox support */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-align-items: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin flexdirection($val) {
  -webkit-box-direction: $val;
  -webkit-box-direction: $val;
  -moz-box-direction: $val;
  -webkit-flex-direction: $val;
  flex-direction: $val;
}

@mixin alignitems($val) {
  -webkit-align-items: $val;  
  -moz-align-items: $val;     
  -ms-align-items: $val;  
  align-items: $val;
}

@mixin justify-content ($val) {
  -webkit-justify-content: $val;
  -moz-justify-content: $val;
  -ms-justify-content: $val;
  justify-content: $val;
}