/* ----- Checklist styles ----- */
.checklist {
    font-size: 12px;
    color: #666;
    border: solid 1px gray;
    padding-bottom: 20px;
}

.checkbox {
    margin: 5px 13px 0 10px;
}

.checklist-header {
    background-color: gray;
    color: white;
    padding: 10px;
}

.checklist-info {
    font-size: 9px;
    padding: 5px 10px 5px 10px;
}